

h1,h3
{
    margin:0px;
    letter-spacing: 3px;
}
h3
{
    font-size: 1.3rem;
    padding-top:10px;
}

.header
{
    background:black;
    width:100%;
    height:110px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.tab-container
{
    width:100%;
    height:700px;
    background:#fdfdfd;
    border:1px solid black;
}


ul.menu
{
  display:flex;
  flex-direction: row;
  align-content:space-between;
  padding:5px;
  margin:0;
  

}
.menu li
{
    list-style-type: none;
    font-size: 1.6rem;
    margin-top:10px;
    
  
    
}
.menu a
{
    text-decoration: none;
    color:black;
    background:  #e7e6e4;
    padding:12px 12px;
    
}
.tab-component
{
    position:relative;
    
}
.tab
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "text-content image-container";
    margin-top:50px;
  
    

}

.text-content
{
    grid-area:text-content;

    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:40px;

    
  
}
.text-content h1
{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0px;
}
.text-content h3
{
  font-size: 2.2rem;
  letter-spacing: 0px;
}

.text-content p
{
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
  

}

.image-container
{
    grid-area:image-container;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-seduction
{
  background:#173f93;
  color:white;
}
.black-seduction
{
    background:#4a4851;
    color:white;
}
.king-seduction
{
    background:#d1dae0;
    color:white;
}